/* reset default settings, learned from Kevin Powell tutorial*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html{
    font-size: 62.5%;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
 
  input, button, textarea, select {
    font: inherit;
  }
 
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1, h2, h3 {
    line-height: 1;
  }
  /* end of reset*/

  /* Root colors and fonts */

  /* I already had the colors in the root, 
  but I saw that font-families and weight can also be placed here, so added that too*/
  :root{
    --primary-color: hsl(158, 36%, 37%);
    --background-color: hsl(30, 38%, 92%);
    
    --neutral-dark: hsl(212, 21%, 14%);
    --neutral-medium: hsl(228, 12%, 48%);
    --neutral-light: hsl(0, 0%, 100%);

    --ff-primary: 'montserrat', sans-serif;
    --ff-secondary: 'Fraunces', serif;

    --fw-regular:500;
    --fw-bold:700;
}

body{
    background-color: var(--background-color);
    color: var(--neutral-medium);
    font-weight: var(--fw-regular);
    font-size: 1.5rem;
    font-family: var(--ff-primary);
    display: grid;
    place-content: center;
    margin: 1.5rem;
}

.product{
    background-color: var(--neutral-light);
    display: grid;
    max-width: 600px;
    border-radius: 0.75rem;
    overflow: hidden;
}
/*learned this from Kevin Powell tutorial*/
@media (min-width:600px){
    .product{
        grid-template-columns: 1fr 1fr; 
    }
}
/* end*/

.product-info{
padding: 3rem;
display: grid;
gap: 1rem;
}

.product-category{
    text-transform: uppercase;
    letter-spacing: .4rem;
    font-size: 1.2rem;
}

.product-title{
    font-family: var(--ff-secondary);
    color: var(--neutral-dark);
    font-size: 3rem;
}

/* copied this from Kevin Powell tutorial*/
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }
  /* end of copied*/

.price-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
}

.new-price {
    color: var(--primary-color);
    font-family: var(--ff-secondary);
    font-size: 3rem;
    font-weight: var(--fw-bold);
}

.old-price{
    text-decoration: line-through;
}

.button {
    background-color: var(--primary-color);
    color: var(--neutral-light);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: .75rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer{
    margin-top: 2rem;
    justify-self: center;
}

